include apple-core

mixin head(page_title)
    head
        title #{page_title}
        meta(charset="UTF-8")
        meta(name="theme-color" content=`${manifest.theme_color}`)
        meta(name="msapplication-navbutton-color" content=`${manifest.theme_color}`)
        meta(name="viewport" content="width=device-width, initial-scale=1")
        +apple-head
        link(rel="manifest" href="/manifest.json")
        link(rel="stylesheet" href="/styles/base.scss")
        block

mixin scripts
    script().
        document.disable_worker = #{disable_worker}
    script(type="module" src="/scripts/index.ts" defer async)
    block

mixin vspace(length)
    div(style=`margin-top:${length};`)